In [2]:
import numpy as np
import pandas as pd
from numpy import array
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [9]:
df_temp = pd.read_csv("zomato.csv", index_col=False, encoding="ISO-8859-1")

In [21]:
df_temp=df_temp[['Rating text','Votes']]

In [22]:
print(df_temp)

     Rating text  Votes
0      Excellent    314
1      Excellent    591
2      Very Good    270
3      Excellent    365
4      Excellent    229
5      Very Good    336
6      Very Good    520
7      Very Good    677
8      Excellent    621
9      Excellent    532
10     Excellent   1070
11     Very Good    488
12     Excellent    294
13     Very Good    458
14     Very Good    223
15          Good     29
16     Very Good     72
17     Excellent    211
18     Excellent    118
19     Very Good    392
20     Excellent    535
21     Excellent    618
22       Average      6
23          Good      9
24          Good     11
25          Good     11
26       Average     11
27       Average     10
28          Good      8
29          Good      5
...          ...    ...
9521     Average    115
9522   Excellent    231
9523   Very Good    296
9524   Excellent     95
9525   Very Good    115
9526   Very Good     97
9527   Very Good    106
9528   Very Good     79
9529   Excellent    109
9530   Very Good     72
9531        Good    123
9532   Very Good    103
9533   Very Good    103
9534   Very Good    131
9535   Very Good    152
9536   Excellent    104
9537   Excellent   1311
9538   Excellent   1042
9539   Very Good    874
9540   Excellent    522
9541   Very Good    877
9542        Good    506
9543   Excellent    761
9544   Excellent   1305
9545   Very Good    870
9546   Very Good    788
9547   Very Good   1034
9548        Good    661
9549   Very Good    901
9550   Very Good    591

[9551 rows x 2 columns]

In [23]:
di={"Excellent":4,"Very Good":3,"Average":1,"Good":2,"Poor":0}
df_temp.replace({"Rating text": di})

     Rating text  Votes
0              4    314
1              4    591
2              3    270
3              4    365
4              4    229
5              3    336
6              3    520
7              3    677
8              4    621
9              4    532
10             4   1070
11             3    488
12             4    294
13             3    458
14             3    223
15             2     29
16             3     72
17             4    211
18             4    118
19             3    392
20             4    535
21             4    618
22             1      6
23             2      9
24             2     11
25             2     11
26             1     11
27             1     10
28             2      8
29             2      5
...          ...    ...
9521           1    115
9522           4    231
9523           3    296
9524           4     95
9525           3    115
9526           3     97
9527           3    106
9528           3     79
9529           4    109
9530           3     72
9531           2    123
9532           3    103
9533           3    103
9534           3    131
9535           3    152
9536           4    104
9537           4   1311
9538           4   1042
9539           3    874
9540           4    522
9541           3    877
9542           2    506
9543           4    761
9544           4   1305
9545           3    870
9546           3    788
9547           3   1034
9548           2    661
9549           3    901
9550           3    591

[9551 rows x 2 columns]